<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 手机震动授权 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.车票">
        <activity
            android:name=".ui.cardstack.CardStackFragment"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.Edit"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activity.Search" />
        <activity
            android:name=".ui.activity.LockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/title_activity_lock"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Base.Theme.车票"
            tools:ignore="MissingClass" />

        <receiver
            android:name=".util.NewAppWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.aWordWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/a_word_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".lock.PlayService"
            android:process=":main" />

        <provider
            android:name=".note.database.NoteProvider"
            android:authorities="dev.lyg.cp.note.provider"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".note.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".note.alarm.AlarmService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>